//- imagenes aleatorias con el efecto blur
section.blurry 
  .container
    // Row
    .row
      // Cols
      .col-md-6
        .placeholder(data-large='http://cdn2.uvnimg.com/3c/a6/921400d0499cb2980b77c519307e/futbol-generic-entry-point.jpg').img-responsive
          img.img-small.loaded(src='assets/images/futbol-generic-entry-point.jpg' class="img-responsive")
          |       
          .padding
      |   
      .col-md-6
        .placeholder(data-large='http://st-listas.20minutos.es/images/2012-01/316402/list_640px.jpg?1365139142').img-responsive
          img.img-small.loaded(src='assets/images/list_640px.jpg' class="img-responsive")
          |       
          .padding

  a.btn.btn-info(ui-sref="second") Link Button
